<table width="600px" height="100%" align="center" border="0" cellspacing="0" cellpadding="0"
       style="PADDING-BOTTOM: 0px !important; PADDING-TOP: 0px !important; PADDING-LEFT: 0px !important; MARGIN: 0px; PADDING-RIGHT: 0px !important">
    <tbody>
    <tr style="TEXT-ALIGN: center;">
        <td>
            <hr style="COLOR: #00d6ff;"/>
        </td>
    </tr>
    <tr style="TEXT-ALIGN: center;">
        <td>
            <h3 style="FONT-FAMILY: 'Electrolize', Arial, Helvetica, sans-serif; COLOR: #00d6ff;">
                {{ 'mail.global.footer.slot1'|trans }}
            </h3>
            <h3 style="FONT-FAMILY: 'Electrolize', Arial, Helvetica, sans-serif; COLOR: #00d6ff;">
                {{ 'mail.global.footer.slot2'|trans }}
            </h3>
        </td>
    </tr>
    </tbody>
</table>