<table width="600px" height="100%" align="center" border="0" cellspacing="0" cellpadding="0"
       style="PADDING-BOTTOM: 0px !important; PADDING-TOP: 0px !important; PADDING-LEFT: 0px !important; MARGIN: 0px; PADDING-RIGHT: 0px !important">
    <tbody>
    <tr style="TEXT-ALIGN: center;">
        <td style="WIDTH: 50%;">
            <h1 style="FONT-FAMILY: 'Electrolize', Arial, Helvetica, sans-serif; COLOR: #00d6ff; font-size: 55px;">
                EcosystemV2</h1>
        </td>
        <td style="WIDTH: 50%;">
            <a title="EcosystemV2 Home"
               href="{{ app.request.getSchemeAndHttpHost() ~ path('spirit_dev_dbox_portal_bundle_homepage') }}">
                <img width="60px" height="60px"
                     style="BORDER-TOP-STYLE: none; TEXT-DECORATION: none; HEIGHT: auto; BORDER-BOTTOM-STYLE: none; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; OUTLINE-STYLE: none; PADDING-LEFT: 0px; MARGIN: 0px; BORDER-LEFT-STYLE: none; LINE-HEIGHT: 100%; PADDING-RIGHT: 0px"
                     alt="EcosystemV2 Home"
                     src="{{ app.request.getSchemeAndHttpHost() ~ asset('bundles/spiritdevdboxportal/images/EcosysV2/EcosystemV2-img-v-small.png') }}"></img>
            </a>
        </td>
    </tr>
    <tr style="TEXT-ALIGN: center;">
        <td colspan="2">
            <hr style="COLOR: #00d6ff;"/>
        </td>
    </tr>
    </tbody>
</table>